<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="demo3.demo3" android:versionCode="1" android:versionName="1.0">
	<uses-sdk android:minSdkVersion="19" android:targetSdkVersion="21" />
	<application android:label="demo3" android:icon="@drawable/Icon"></application>
</manifest>